<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
	<pre>
    <b>Full Name:</b> {{ full_name }}
    <b>Company Name:</b> {{ company_name }}
    <b>Contact No:</b> {{ contact_no }}
    </pre>
</body>
</html>